
      #navbar{
        display: flex;
        justify-content: end;
        background-color: rgb(3, 122, 122);
        color: aliceblue;      }
      #navbar>div{
        padding: 10px;
        cursor: pointer;
      }
      a{
        padding: 10px;
        color: aliceblue;      }

      
      #menu{
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(4,300px);
        grid-template-rows: auto;
        gap: 20px;
      }
      #menu>div{
        height: 300px;
        width: 85%;
        text-align: center;
        border: 1px solid black;
        margin-top: 20px;
      }
      img{
        height: 62%;
        width: 85%;
      }
      